In [23]:
import pandas as pd
from ctt import clean

df = pd.read_csv("data/superbowl_halftime_tweets.csv")

df.head()

,Unnamed: 0,tweet_dt,id,username,name,tweet
0,0,2022-02-13,1495505998001356803,RussBrookes1981,Russ Brookes,There are many reasons why NFL is so so succes...
1,1,2022-02-13,1495505087493464069,AlannaMcKennaaa,Alanna McKenna,@LucyRushin Not one of my favorite years for c...
2,2,2022-02-13,1495505066584907784,Brunoepalmeida,Bruno Almeida,Só agora é que vi o Halftime Show do Super Bow...
3,3,2022-02-13,1495504859965136903,nevil22,neil thomas,@Sarraelgan Don’t forget most pitches in NFL a...
4,4,2022-02-13,1495504855120633858,pisomojado16,William,This is the best SMU basketball halftime show ...

In [24]:
# removes mentions and hashtags using regular expressions

hashtagPattern = re.compile("#\w+")
mentionPattern = re.compile("@\w+")

def clean_tweets(txt):
    txt = re.sub(hashtagPattern, "", str(txt))
    txt = re.sub(mentionPattern, "", str(txt))
    
    txt = " ".join(txt.split())
    
    return txt

df['tweet'] = df['tweet'].apply(clean_tweets)

df.head()

,Unnamed: 0,tweet_dt,id,username,name,tweet
0,0,2022-02-13,1495505998001356803,RussBrookes1981,Russ Brookes,There are many reasons why NFL is so so succes...
1,1,2022-02-13,1495505087493464069,AlannaMcKennaaa,Alanna McKenna,Not one of my favorite years for commercials )...
2,2,2022-02-13,1495505066584907784,Brunoepalmeida,Bruno Almeida,Só agora é que vi o Halftime Show do Super Bow...
3,3,2022-02-13,1495504859965136903,nevil22,neil thomas,Don’t forget most pitches in NFL are artificia...
4,4,2022-02-13,1495504855120633858,pisomojado16,William,This is the best SMU basketball halftime show ...

In [33]:
# removes emoji, capitlization, punctuation, stopwords, emails, links, and expands contractions

# might need to adjust this to not remove stopwords...

cleanedText = []
for text in df["tweet"]:
    # preprocess to remove unwanted
    text = clean.kitchen_sink(text)
    cleanedText.append(text)
    
df.loc[:, "tweet"] = cleanedText
df.head()

,Unnamed: 0,tweet_dt,id,username,name,tweet
0,0,2022-02-13,1495505998001356803,RussBrookes1981,Russ Brookes,many reasons nfl successful compared rugby thi...
1,1,2022-02-13,1495505087493464069,AlannaMcKennaaa,Alanna McKenna,one favorite years commercials however ll take...
2,2,2022-02-13,1495505066584907784,Brunoepalmeida,Bruno Almeida,só agora é que vi o halftime show super bowl p...
3,3,2022-02-13,1495504859965136903,nevil22,neil thomas,forget pitches nfl artificial imagine setting ...
4,4,2022-02-13,1495504855120633858,pisomojado16,William,best smu basketball halftime show time